.card {
  width: 350px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(o,0,0,.15);
  transition: .3s;
}

.card:hover {
  transform: translate(-8px);
  box-shadow: 0 8px 18px rgba(0,0,0,.25);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card h3 {
  margin-top: 0;
}

.display {
  text-align: center;
}

.display h3 {
  margin-bottom: 25px;
}

.display-images {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.display-images img {
  width: 350px;
  height: auto;
}

.skills {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.skill-card {
  width: 250px;
  padding: 25px;
  background-color: white;
  border: 3px solid #66BB6A;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(o,0,0,.15);
  transition: .3s;
}

.skill-card:hover {
  transform: translate(-8px);
  box-shadow: 0 8px 18px rgba(0,0,0,.25);
}

.skill-card p {
  font-weight: 100;
}

.skill-card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.skills-but {
  text-align: center;
}

@media (max-width: 600px) {
    .skill-card {
        width: 100%;
    }
}

.bar {
  border: none;
  height: 1px;
  background-color: #1B5E20;
  margin: 50px auto;
  width: 85%;
}

.button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 18px;
  background: #1B5E20;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

.button:hover {
  background: #1B5E20;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 40px auto;
  background-color: #1B5E2080;
  padding: 80px;
}

.portfolio-grid h2{
  color: white;
}

.portfolio-grid h4 {
  margin-bottom: 25px;
}

.project-tags span {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 18px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 18px;
}

.research-cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #1B5E20;
  display: flex;
}

.nav-links li{
  position: relative;
}

.nav-links a{
  display: block;
  color: whitesmoke;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}
.nav-links a:hover{
  background-color: #1B5E20;
}

.contact {
  text-align: center;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #1B5E20;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-content a{
  color: whitesmoke;
  padding: 12px 16px;
}

.dropdown-content a:hover{
background-color: #66bb6A;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.site-name {
  color: white;
  text-align: center;
  font-size: 24px;
  margin-top: 14px;
  margin-left: 8px;
}

.top-nav {
  text-decoration: none;
}

.gallery img {
  width: 250px;
  height: 180px;
  object-fit: cover;
  padding: 8px;
  cursor:pointer;
  transition:.3s;
  max-width: 100%;
  height: auto;
}

.gallery{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}

.gallery img:hover{
    transform:scale(1.05);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
  background-color: rgba(27, 94, 32, 0.9);
}

.heading-text {
  flex: 1;
  margin-left: 5px;
  color: white;
}

.heading img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #66BB6A;
  margin-top: 5px;
}

.video {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
  aspect-ratio: 16 / 9;
}

.video iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 600px) {
  .heading {
    flex-direction: column;
    text-align: center;
  }

  .heading img {
    width: 200px;
    height: 200px;
  }
}

#lightbox {
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.9);
  justify-content:center;
  align-items:center;
  z-index:9999;
}

#lightbox-image{
    max-width:90%;
    max-height:90%;
    border-radius:10px;
}

#close{
    position:absolute;
    top:30px;
    right:40px;
    font-size:50px;
    color:white;
    cursor:pointer;
}

body {
  background-color: #E8F5E9;
}

h4 {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

caption {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

th, td {
  border: 1px solid black;
}

footer{
  font-size: 10pt;
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;
  background-color: #1B5E20;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: blue;
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .content {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 480px) {
  body {
    font-size 16px;
  }

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}
